@static {
  file
  path *.ico *.css *.js *.gif *.webp *.avif *.jpg *.jpeg *.png *.svg *.woff *.woff2
}

header @static Cache-Control max-age=5184000

localhost {
    encode gzip
    handle_path /api/* {
        reverse_proxy webapi:8080
  }
   handle {
    file_server
    try_files {path} /index.html
  }
}

app.hhl-tec.com {
    encode gzip
    handle_path /api/* {
        reverse_proxy webapi:8080
  }
   handle {
    file_server
    try_files {path} /index.html
  }
}