(static) {
	@static {
		file
		path *.js *.css *.ico *.gif *.jpg *.jpeg *.png *.svg *.woff *.woff2 *.json
	}
	header @static Cache-Control max-age=5184000
}

localhost {
    encode gzip
    handle_path /api/* {
        reverse_proxy webapi:8080
  }
   handle {
    file_server
    try_files {path} /index.html
  }
}

app.hhl-tec.com {
    encode gzip
    handle_path /api/* {
        reverse_proxy webapi:8080
  }
   handle {
    import static
    file_server
    try_files {path} /index.html
  }
}